@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuyu&display=swap');
.app { 
  font-family: Dancing Script;
  text-align: center;
  padding: 20px;
}
h1 {
  font-family: Yuyu;
  text-align: center;
  padding: 20px;
}
.board {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 8px;
  justify-content: center;
  margin: 20px auto;
}

.tile {
  width: 70px;
  height: 70px;
  font-size: 28px;
  cursor: pointer;
}

.controls button {
  margin: 4px;
  padding: 6px 12px;
  cursor: pointer;
  font-family: Dancing Script;
}

.win {
  color: green;
  font-weight: bold;
}

.lose {
  color: red;
  font-weight: bold;
}

.tile-img {
  width: 100%;
  height: 100%
}